/* BOTÓN HAMBURGUESA (ESCONDE EN DESKTOP) */
.menu-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;

  margin-right: 0.3rem; /* corregido */
  padding: 0.4rem; /* espacio interno */
}

/* RESPONSIVE: MÓVILES */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    color: black;
  }

  .Menu-Horizontal {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #102441;
    position: absolute;
    top: 5rem;
    left: 0;
  }

  .Menu-Horizontal.active {
    display: flex;
  }

  .Menu-Horizontal li {
    border-bottom: 1px solid #ccc;
  }
}
